@font-face {
  font-family: 'Heldane';
  font-style: normal;
  font-weight: 400;
  src: url('font/HeldaneTextWeb-Regular.eot');
  src: url('font/HeldaneTextWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('font/HeldaneTextWeb-Regular.woff2') format('woff2'),
       url('font/HeldaneTextWeb-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Heldane';
  font-style: italic;
  font-weight: 400;
  src: url('font/HeldaneTextWeb-RegularItalic.eot');
  src: url('font/HeldaneTextWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('font/HeldaneTextWeb-RegularItalic.woff2') format('woff2'),
       url('font/HeldaneTextWeb-RegularItalic.woff') format('woff');
}
body {
	background-color: #fbf9f6;
	color: #100d09;
	font-family: 'Heldane';
	font-weight: 400;
	font-feature-settings: "kern", "liga";
}
img {
	width: 27.5rem;
	margin-top: 6px;
}
a {
	color: #100d09;
	text-decoration: none;
}
header,
main,
section,
footer {
	width: 28.75rem;
}
header,
main {
	margin: 3rem auto 0;
}
section {
	margin: 3rem auto 3em;
}
footer {
	margin: 0 auto 4rem;
}
@media (max-width:480px)  {
	header,
	main,
	section,
	footer {
		width: unset;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	img {
		width: 95%;
	}
}
